<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head('View a Post')"></head>

<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.body}"></p>
    <p th:text="${post.user.email}"></p>

    <div th:if="${#authentication.principal.id == post.user.id}">
<!--        <button th:action="@{/posts/${post.id}/edit}" th:method="post">Edit</button>-->
        <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="text-links">Edit</a>
<!--        <a th:href="@{/posts/{id}/delete(id=${post.id})}" class="text-links">Delete</a>-->
    </div>


</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>